.tiktoklist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1360px) {
 .tiktoklist{
    grid-template-columns: repeat(3, 1fr);
 }
}


@media only screen and (max-width: 1030px) {
 .tiktoklist{
    grid-template-columns: repeat(2, 1fr);
 }
}

@media only screen and (max-width: 750px) {
 .tiktoklist{
    grid-template-columns: repeat(1, 1fr);
 }
}
