.info-section__avatar{
    width: 380px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.f{
    display: flex;
    flex-wrap: wrap;
}

.properties-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about{
    padding: 15px;
}

.info-section__text{
    margin-left: 30px;
}
.info-section__name{
    font-size: 40px;
    margin-bottom: 5px;
}

.info-section__phone, .info-section__email{
    font-size: 15px;
    font-weight: bold;
    color: var(--secondary-color);
}
.form{
    padding: 12px;
}
.info-section__bio{
    white-space: pre-line;
    font-size: 16px;
    color: rgb(58, 58, 58);
}

.info-section__position{
    margin: 0;
    color: gray;
}