.marquee {
  --duration: 20s;    
  --gap: 48px;        
  position: relative;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
  overflow: hidden;
  background-color: var(--secondary-color);
 
  white-space: nowrap;
}

.marquee__track {
  display: flex;
  width: max-content;         
  gap: var(--gap);
  animation: marquee var(--duration) linear infinite;
  will-change: transform;
}

.marquee__group {
  display: inline-flex;
  align-items: center;
  gap: var(--gap);
  padding-inline-end: var(--gap);
}

.marquee__item {
  display: inline-block;
}


@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}


@media (prefers-reduced-motion: reduce) {
  .marquee__track { animation: none; }
}
