.num{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin: 0;
    text-align: center;
}
.number-section{
    padding: 20px;
    width: 100%;
}

.num-wrapper{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}