.properties-table tbody tr td .property-thumbnail{
        width: 100px;
        height: 100px;
}

.properties-table tbody tr td{
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    padding: 20px;
}



.property-title{
    width: 20vw;
    font-weight: bold;
}

.btn-tgl-active{
    width: 100px;
    padding: 10px 0!important;
}

.btn-inactive{
    background-color: rgb(216, 62, 62);
}

.btn-active{
    background-color: rgb(69, 167, 50);
}

.actvr{
    background-color: rgb(69, 167, 50);
}