
.herod {
  width: 100%;
  height: 70vh;

  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero__contentd {
  background: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__contentd h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero__contentd p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero__content button {
  background: #d4af37;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.hero__content button:hover {
  background: #b8912e;
}