
/* Geist Font Family */

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/ttf/Geist-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}




body{
  margin: 0;
  font-family: 'Geist';
  font-optical-sizing: auto;
  background-color: rgba(243, 243, 243, 0.568);
}

.polityka a{
  text-decoration: none;
  color: #CBB26A;
  font-weight: 600;
} 

.btn-primary{
  letter-spacing: 1px;
  font-weight: 600!important;
}

.polityka p{
  color: #424242;
}

.lay{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.main-sec{
    max-width: 1100px;
    width: 100%;
}

.separate{
  padding: 50px;
}
.sm-separate{
  padding: 10px;
}
.input, .textarea, .select {
  font-family: inherit;
  border: 1px solid #525252c2;
  padding: 14px 20px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 10px;;
}

@media screen and (max-width: 1350px) {
  .recent-container, .search-container {
    display: none;
  }

  .listing-card{
    width: calc(40vw - 30px)!important;
  }

  .list-grid{
    padding: 10px;
  }
}
@media screen and (max-width: 900px) {

 .listing-card{
    width: 100%!important;
  }
}



.a{
  text-decoration: none;
  color: #CBB26A;
  font-weight: 600;
}

.listing-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.label{
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(110, 109, 109);
}

.list-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section{

  margin: auto;
}

.button{
  background-color: #CBB26A;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.h2{
    font-size: 30px;
        color: rgb(36, 36, 36);
    font-weight:800;
}

.p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    color: #7A7A7A;
}