.btn-act{
    background-color: rgb(19, 19, 19);
}

.btn-act:hover{
    background-color: rgb(56, 56, 56);
}

.activity-item{
    width: 100%;
    display: flex;
    background-color: white;
    margin-top: 20px;
    padding: 20px;

}

.activity-icon{
    font-size: 20px;
    margin-right: 30px;
    display: flex;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

.activity-content{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.activity-time{
    font-size: 15px;
    font-weight: 500;
}